.NavigationBar {
    background-color: rgb(107, 99, 181);
    align-items: center;
    padding: 0 1rem;
    display: flex;
    gap: 1rem;
}

.NavigationBar .ExpandMenuButtonIcon {
    height: 100%;
    width: 2em;
}

.NavigationBar .ExpandMenuButtonIcon:hover { cursor: pointer; }
.NavigationBar .ExpandMenuButtonIcon rect { fill: var(--default-light-clr); }